<!DOCTYPE html>
<html>
<head>
  <title>oops</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>

  {% include 'sidebar.html' %}
  {% include 'header.html' %}

 
  
  <div class="container">
    <h2>I'm sorry this page isn't available yet :(</h2>
    <h3>Please check back later</h3>
    
   
  </div>

  <button id="taskbar-button"></button>
  
  <script src="/static/js/script.js"></script>

  <footer>
    <p>&copy; 2023 musiStats. All rights reserved.</p>
  </footer>

  <script>
    function toggleSidebar() {
      const sidebar = document.querySelector('.sidebar');
      sidebar.classList.toggle('active');
    }
  </script>
  
</body>
</html>
