<!DOCTYPE html>
<html>
<head>
  <title>musiStats- Your Tracks</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  {% include 'sidebar.html' %}
  {% include 'header.html' %}

  <!-- <div class="container">
    <h3>{{username}}'s Tracks</h3>
    <ul>
      {% for album in albums %} 
      <img id="albumImage" src="{{ album['image'] }}" alt="Album Image">
      <li>{{ album['track'] }}</li>
      {% endfor %}
    </ul>
  </div> -->
<!-- 
  <div class="container">
    <h3>{{username}}'s Tracks</h3>
    <div class="grid-container">
        <div class="grid-item">
            <ul>
                {% for album in albums %} 
                <li>
                    <div class="album-info">
                        <img class="album-image" src="{{ album['image'] }}" alt="Album Image">
                        <span>{{ album['track'] }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div> -->

<div class="container">
  <h3>{{username}}'s Tracks</h3>
  <div class="grid-container">
      <div class="grid-item">
          <div class="column-wrapper">
              <ul>
                  {% for album in albums %} 
                  <li>
                      <div class="album-info">
                        <label class="rank">{{ loop.index }}</label>
                          <img class="album-image" src="{{ album['image'] }}" alt="Album Image">
                          <span> {{ album['track'] }}</span>
                      </div>
                  </li>
                  {% endfor %}
              </ul>
          </div>
      </div>

      <div class="grid-item">
        <div class="column-wrapper">
            <ul>
                {% for artist in topArtists %} 
                <li>
                    <div class="album-info">
                      <label class="rank">{{ loop.index }}</label>
                        <img class="album-image" src="{{ artist['image'] }}" alt="Album Image">
                        <span>{{ artist['name'] }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- <div class="grid-item">
      <div class="column-wrapper">
          <ul>
              {% for album in albums %} 
              <li>
                  <div class="album-info">
                      <img class="album-image" src="{{ album['image'] }}" alt="Album Image">
                      <span>{{ album['track'] }}</span>
                  </div>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div> -->
      <!-- Add other grid items here for the other two columns -->
  </div>
</div>

  <script src="/static/js/script.js"></script>

  <footer>
    <p>&copy; 2023 musiStats. All rights reserved.</p>
  </footer>

  <script>
    function toggleSidebar() {
      const sidebar = document.querySelector('.sidebar');
      sidebar.classList.toggle('active');
    }
  </script>
 
</body>
</html>