body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  padding: 20px; /* Default padding for other devices */
  background-color: #333;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh; /* Minimum height to extend near the bottom */
}

header {
  text-align: center;
  background-color: #c69ff0;
  padding: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #444;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 10px 0;
  background-color: #444;
  color: #fff;
  border: none;
  padding: 20px 40px; /* Increase padding for larger buttons on mobile */
  font-size: 30px; /* Increase font size for larger buttons on mobile */
  border-radius: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Buttons occupy the full width on mobile */
}

button:hover {
  background-color: #c69ff0;
  cursor: pointer;
}

.button-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.sorry-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Media Queries */

/* Styles for screens with a width of 600px and below (mobile devices) */
@media (max-width: 600px) {
  nav ul {
    display: none;
  }
  #taskbar-button {
    display: block;
  }
  .container {
    top: 25%;
    /* Update container padding for mobile devices */
    padding: 40px;
    /* Ensure the container occupies the full height of the viewport */
    height: 100vh;
    /* Enable scrolling within the container if necessary */
    overflow-y: auto;
    background-color: #222;
  }
  .buttons {
    /* Align buttons to the top of the container on mobile devices */
    justify-content: flex-start;
    /* Buttons occupy the full width of the container on mobile */
    width: 100%;
  }

  button {
    padding: 30px 60px; /* Increase padding for larger buttons on mobile */
    font-size: 24px; /* Increase font size for larger buttons on mobile */
  }

  .button-icon {
    width: 30px;
    height: 30px;
  }
}

/* Styles for screens with a width of 601px to 1023px (medium screens) */
/* @media (min-width: 601px) and (max-width: 1023px) {
  #taskbar-button {
    display: none;
  }

  .columns {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex: 1;
    background-color: #444;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }
} */

/* Styles for screens with a width of 1024px and above (desktop and larger screens) */
@media (min-width: 1024px) {
  #taskbar-button {
    display: none;
  }
  .container {
    max-width: 960px;
    /* Center the container horizontally on desktop screens */
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttons {
    justify-content: flex-start;
    margin: 25px auto;
  }

  button {
    padding: 20px 35px;
    font-size: 18px;
  }
  
  .button-icon {
    width: 40px;
    height: 40px;
  }
}