html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

.container {
  width: 100%;
  padding: 20px; /* Default padding for other devices */
  background-color: #333; 
  /* make sure to widen and fix */
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh; /* Minimum height to extend near the bottom */
}

/* Header styles */
header {
  text-align: center;
  background-color: #4b5d9a;
  padding: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  justify-content: space-between;
}

header nav{
  display: inline-block;
}


header h1 {
  font-size: 30px;
  margin: 10px;
  margin-bottom: 15px;
  display:inline-block;
}

header p {
  font-size: 20px;
  margin: 10px 0
}

.sidebar-toggle-btn {
  font-size: 12px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display:inline-block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #444;
}

ul {
  list-style: none; /* Remove bullets */
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  z-index: 1;
}

button {
  margin: 10px 0;
  background-color: #444;
  color: #fff;
  border: none;
  padding: 6px 12px; /* Increase padding for larger buttons on mobile */
  font-size: 30px; /* Increase font size for larger buttons on mobile */
  border-radius: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Buttons occupy the full width on mobile */
}

button:hover {
  background-color: #c69ff0;
  cursor: pointer;
}

.button-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.sorry-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.about-container {
  padding: 40px;
  background-color: #a094fa;
  border-radius: 10px;
  margin: 51px 0;
  margin-top: 55px;
}

.about-container h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 18px;
}

.user-container {
  padding: 40px;
  background-color: #a094fa;
  border-radius: 10px;
  margin-bottom: 40px;
}

.user-container h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.user-container p {
  font-size: 18px;
  margin-bottom: 30px;
}

.user-form a {
  margin: 10px 0;
  padding: 20px 40px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-form a:hover {
  background-color: #c69ff0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #4b5d9a;
  color: #fff;
  font-size: 14px;
  margin-top: auto;
  width: 100%;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Hide the sidebar initially */
  width: 250px;
  height: 100vh;
  background-color: #424242;
  padding-top: 60px;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.sidebar a:hover {
  background-color: #9c69bb;
}

.sidebar.active {
  left: 0; /* Show the sidebar when active */
}

/* css for tracks page, columns and borders */
.container {
  max-width: 1200px; /* Adjust container width as needed */
  margin: 0 auto; /* Center container */
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-gap: 20px; /* Adjust the gap between columns */
}
/* 
.grid-item {
  rest of grid elements
} */

/* columns */
.column-wrapper {
  background-color: #a094fa; /* Dark grey border */
  padding: 10px; /* Add padding */
  border-radius: 10px; /* Rounded corners */
  height: 400px; /* Fixed height */
  overflow-y: auto; /* Add vertical scroll when content overflows */
}

.column-wrapper::-webkit-scrollbar {
  display: none;
}

/* Style for custom scrollbar (optional) */
.column-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

.column-wrapper::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.column-wrapper::-webkit-scrollbar-thumb {
  background-color: #555; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.album-info {
  display: flex;
  align-items: center;
  font-size: 16px; /* Increase font size */
  color:white;
  margin-bottom: 10px; /* Add bottom margin for spacing */
}

.album-image {
  width: 75px; /* Increase image width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust spacing between image and text */
}




/* Media Queries */

/* Styles for screens with a width of 600px and below (mobile devices) */
@media (max-width: 600px) {

  header {
    width: auto
  }
  nav ul {
    display: none;
  }
  /* #taskbar-button {
    display: block;
  } */
  .container {
    /* top: 25%; */
    /* Update container padding for mobile devices */
    /* padding: 40px; */
    /* Ensure the container occupies the full height of the viewport */
    height: 50%;
    /* Enable scrolling within the container if necessary */
    /* overflow-y: auto; */
    background-color: #222;
    font-size: 12px;
    width: auto;
  }
  
  .buttons {
    /* Align buttons to the top of the container on mobile devices */
    justify-content: flex-start;
    /* Buttons occupy the full width of the container on mobile */
    width: 100%;
  }

  button {
    padding: 6px 14px; /* Increase padding for larger buttons on mobile */
    font-size: 16px; /* Increase font size for larger buttons on mobile */
  }

  .sidebar-toggle-btn {
    font-size: 18px;
  }

  .button-icon {
    width: 30px;
    height: 30px;
  }

  .user-form a {
    font-size: 12px;
  }
}

/* Styles for screens with a width of 601px to 1023px (medium screens) */
@media (min-width: 601px) and (max-width: 1023px) {
  #taskbar-button {
    display: none;
  }

  .sidebar-toggle-btn {
    display: none;
  }

  .user-form a {
    font-size: 12px;
  }
}

/* Styles for screens with a width of 1024px and above (desktop and larger screens) */
@media (min-width: 1024px) {
  #taskbar-button {
    display: none;
  }

  .sidebar-toggle-btn {
    display: none;
  }

  .buttons {
    justify-content: flex-start;
    margin: 25px auto;
  }

  button {
    padding: 20px 35px;
    font-size: 18px;
  }

  .button-icon {
    width: 40px;
    height: 40px;
  }
}